<section class="section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col">
        <input type="text" class="col_input-form"  placeholder="USD"/>
      </div>
      <div class="col">
        <input type="text" class="col_input-form" placeholder="EU" disabled/>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col">
        <a class="btn btn-lg btn-success col_btn" href="#" role="button">Calculate</a>
      </div>
    </div>
  </div>
</section>
